nav{
    display: flex;
    justify-content: space-around;
}
.bgp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/Hero-bg.png);

}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Target{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}